/*Page background styling*/
body {
    background-color: cornsilk;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr 1fr 30px;
}

nav {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: gray;
}

nav>a {
    padding: 5px;
    font-size: 20px;
    color: white;
    float: left;
    text-decoration: none;
}

nav>a:hover {
    text-decoration: underline;
    transform: translateY(-4px);
    transition: 0.5s ease-out;
}

header {
    text-align: center;
}

footer {
    background-color: gray;
}

footer>p {
    text-align: center;
    color: white;
    font-size: 18px;
    margin-top: 5px;
}

main>h2 {
    text-decoration: underline;
    text-align: center;
}